<h1>Journalists#new</h1>
<p>Find me in app/views/journalists/new.html.erb</p>


<div class="justify-content-center">
  <div class="card col-6">
    <%= form_with model: @journalist, method: :post do |form| %>
      <div class="mb-3">
        <%= form.label :name, "Journalist name", class:"form-label" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>
      <div class="mb-5">
        <%= form.label :lastname, "Journalist lastname", class:"form-label" %>
        <%= form.text_field :lastname, class:"form-control" %>
      </div>
      <div class="mb-5">
        <%= form.label :specialty, "Journalist specilaty", class:"form-label" %>
        <%= form.text_field :specialty, class:"form-control" %>
      </div>

      <div class="text-center">
        <%= form.submit "Enviar", class: "btn btn-blue" %>
      </div>
    <% end %>
  </div>
</div>
